venv/
chromedriver-win64/
__pycache__/
config.toml
products copy.json
variations.ipynb
logo.ico
old_csvs/
# Excluir todo excepto el archivo productos.db
data/*
!data/productos.db

productos.json
productos.csv
.devcontainer/
app/chat.py
app/chat_v2.py